In [1]:
import pandas as pd
df1 = pd.read_csv("C:/workspace/data/seoul_PM/seoul_PM.csv")
df2 = pd.read_csv("C:/workspace/data/기상정보/weather_preprocessed.csv")

In [2]:
df1

                         일시  구분  미세먼지(PM10)  초미세먼지(PM2.5)
0       2008-01-01 10:00:00  평균        44.0          22.0
1       2008-01-01 11:00:00  평균        38.0          23.0
2       2008-01-01 12:00:00  평균        41.0          23.0
3       2008-01-01 13:00:00  평균        40.0          29.0
4       2008-01-01 14:00:00  평균        45.0          25.0
...                     ...  ..         ...           ...
131488  2022-12-31 05:00:00  평균        43.0          32.0
131489  2022-12-31 06:00:00  평균        47.0          31.0
131490  2022-12-31 07:00:00  평균        49.0          32.0
131491  2022-12-31 08:00:00  평균        46.0          33.0
131492  2022-12-31 09:00:00  평균        46.0          34.0

[131493 rows x 4 columns]

In [3]:
df2

,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),...,전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,2008-01-01 00:00:00,-7.0,0.0,3.5,270.0,52.0,1.8,-16.1,1008.0,1019.1,...,1.0,1.0,Sc,10.0,1500.0,NaN,NaN,NaN,NaN,NaN
1,2008-01-01 01:00:00,-7.3,0.0,4.9,290.0,52.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-01 02:00:00,-7.5,0.0,4.1,270.0,52.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-01-01 03:00:00,-7.8,0.0,3.9,270.0,52.0,1.6,-17.0,1008.7,1019.9,...,1.0,1.0,Sc,10.0,1500.0,-7.3,-4.0,-0.5,1.9,2.1
4,2008-01-01 04:00:00,-7.9,0.0,4.0,290.0,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131491,2022-12-31 19:00:00,-0.2,0.0,1.8,20.0,73.0,4.4,-4.4,1018.5,1029.4,...,0.0,0.0,NaN,NaN,1211.0,-0.9,-0.1,-0.5,-0.5,0.6
131492,2022-12-31 20:00:00,-0.8,0.0,1.4,20.0,75.0,4.3,-4.6,1018.1,1029.0,...,4.0,2.0,NaN,14.0,1171.0,-1.8,-0.1,-0.5,-0.5,0.6
131493,2022-12-31 21:00:00,-1.0,0.0,0.9,340.0,77.0,4.4,-4.5,1018.2,1029.2,...,7.0,7.0,Sc,13.0,1134.0,-2.8,-0.2,-0.5,-0.5,0.6
131494,2022-12-31 22:00:00,-0.8,0.0,0.5,290.0,78.0,4.5,-4.1,1018.3,1029.3,...,8.0,8.0,NaN,13.0,1094.0,-2.2,-0.3,-0.5,-0.5,0.6
131495,2022-12-31 23:00:00,-0.2,0.0,1.3,230.0,77.0,4.6,-3.7,1018.5,1029.4,...,8.0,8.0,NaN,14.0,1314.0,-2.1,-0.3,-0.5,-0.5,0.6

In [4]:
df = pd.merge(df1, df2, on = '일시', how = 'inner')

In [5]:
df

,일시,구분,미세먼지(PM10),초미세먼지(PM2.5),기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),...,전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,2008-01-01 10:00:00,평균,44.0,22.0,-7.6,0.0,4.6,340.0,47.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-01-01 11:00:00,평균,38.0,23.0,-6.9,0.0,4.1,290.0,42.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-01 12:00:00,평균,41.0,23.0,-5.8,0.0,4.1,290.0,42.0,1.6,...,2.0,2.0,Sc,12.0,1800.0,NaN,NaN,NaN,NaN,NaN
3,2008-01-01 13:00:00,평균,40.0,29.0,-5.0,0.0,4.1,290.0,36.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-01-01 14:00:00,평균,45.0,25.0,-4.4,0.0,4.1,290.0,36.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131488,2022-12-31 05:00:00,평균,43.0,32.0,-3.4,0.0,1.1,290.0,61.0,2.9,...,8.0,8.0,Sc,8.0,2000.0,-3.4,-1.0,-1.1,-0.6,0.6
131489,2022-12-31 06:00:00,평균,47.0,31.0,-3.5,0.0,0.5,290.0,61.0,2.9,...,9.0,9.0,Sc,16.0,2000.0,-4.4,-0.9,-1.0,-0.6,0.6
131490,2022-12-31 07:00:00,평균,49.0,32.0,-3.9,0.0,1.5,50.0,62.0,2.8,...,7.0,7.0,Sc,16.0,2000.0,-4.4,-1.0,-1.1,-0.6,0.6
131491,2022-12-31 08:00:00,평균,46.0,33.0,-4.0,0.0,1.9,50.0,65.0,3.0,...,9.0,9.0,Sc,14.0,2000.0,-3.8,-1.0,-1.1,-0.6,0.6
131492,2022-12-31 09:00:00,평균,46.0,34.0,-3.5,0.0,2.4,20.0,66.0,3.1,...,8.0,8.0,Sc,6.0,2000.0,-2.6,-1.0,-1.1,-0.6,0.6